<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true" *ngIf="isLoggedIn">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Início</a>
      <a mat-list-item routerLink="/todo-list">Tarefas</a>
    </mat-nav-list>
    <button
      class="w-50 position-absolute bottom-0 start-0 end-0 m-auto mb-5"
      mat-button
      color="warn"
      (click)="logout()"
    >
      Sair
    </button>
  </mat-sidenav>
  <mat-sidenav-content class="w-100">
    <div class="container mt-5 p-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
