<p class="h1 text-center text-white">Bem vindo</p>

<div class="container mt-5 px-4 text-center">
  <div class="row gx-5">
    <div class="col">
      <div class="h4 p-3 bg-light rounded">
        <p class="h4">Quantidade de tarefas</p>
        <div class="count">{{todoCount}}</div>
      </div>
    </div>

    <div class="col">
      <div class="h4 p-3 bg-light rounded">
        <p class="h4">Quantidade de usuários</p>
        <div class="count">{{userCount}}</div>
      </div>
    </div>
  </div>
</div>
